<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstra3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../js/bootstra3/css/bootstrap.css">

    <script src="../js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-treeview/bootstrap-treeview.min.css"/>

    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css"/>

    <!-- 引入弹框的js -->
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>



</head>

<body>
    <table id="dg"></table>
</body>
<script>
    $(function(){
        $("#dg").bootstrapTable({
            url:"../queryCarList",
            striped: true,//隔行变色
            showColumns:true,//是否显示 内容列下拉框
            showPaginationSwitch:true,//是否显示 数据条数选择框
            minimumCountColumns:2,//最小留几列 默认值1
            showRefresh:true,//显示刷新按钮
            showToggle:true,//显示切换视图
// 			  search:true,//是否显示搜索框
// 			  searchOnEnterKey:true,//设置为 true时，按回车触发搜索方法，否则自动触发搜索方法
            pagination:true,//开启分页
            paginationLoop:true,//开启分页无限循环
            pageNumber:1,//当前页数
            pageSize:2,//每页条数
            pageList:[1,2,3,4],//如果设置了分页，设置可供选择的页面数据条数。设置为All 则显示所有记录。
            sidePagination:"server",//
            method:'post',//发送请求的方式
            contentType:"application/x-www-form-urlencoded",//必须的否则条件查询时会乱码
            queryParams:function(obj){
                return {
                //    page:this.pageNumber,//当前页
                //    rows:this.pageSize //每页条数
                }
            },
            columns: [
                {checkbox:true,},
                {field:'carId',title:'编号',width:100},
                {field:'carName',title:'名称',width:100},
                {field:'carPrice',title:'年龄',width:100},
                {field:'carTime',title:'生日',width:100}
                ]
        })
    })

    function searchWuliu(){
        $("#dg").bootstrapTable("refresh",{"pageNumber":1})
    }

</script>
</html>